{% extends "rango/base.html" %}

{% load staticfiles %}

{% block title %}Profiles{% endblock %}

{% block body_block %}
<div class="hero-unit">
   	   <h1><strong>{{ user.username }}'s</strong> Profile <h1> <br/>
       <p>Email: {{ user.email }}</p>
       <p>ID: {{ user.id }}</p>

       {% if userprofile %}
	   <p>Website: <a href="{{ userprofile.website }}">{{userprofile.website}}</a></p>
           <br/>
       {% if userprofile.picture %}
	   <img src="{{ userprofile.picture.url }}"  />
	   {% endif %}
	   {% endif %}
</div>
{% endblock %}